.App {
  text-align: center;
  background-color: rgb(73, 153, 223);
  height: 100vh;
  color: white;
  padding: 1em;
}

.App main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App header {
  font-size: 4em;
}
